*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
.mas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: 80vh;
  background-image: url("../sources/images/fondoMas.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  margin-left: 25vw;
}
.titluloPOD {
  font-size: 1.5rem;
  color: white;
  margin-top: 2rem;
}
label {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
}

.fotoODAY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 50vw;
}
.fecha {
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 2vh;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}
.fotoDelDia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  margin: 0vh auto;
}
