*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
.mas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0ed729;
}
