*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}



.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 100;
  position: sticky;
  transition: all 0.3s ease;
}
.NavBar:hover {
  -webkit-box-shadow: 2px 4px 7px 2px rgba(84, 115, 125, 0.6);
  box-shadow: 2px 4px 7px 2px rgba(84, 115, 125, 0.6);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 20%;
}
.menulist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 50%;
}
.menulist li {
  margin: 0 1rem;
  font-size: 2.2rem;
}
li {
  color: #fff;
  transition: all 0.3s ease;
}
li:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #000dff,
    0 0 3px #000dff, 0 0 4px #000dff, 0 0 5px #000dff, 0 0 7px #000dff;
}
.logo {
  background-image: url("../sources/images/near.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 10%;
  height: 15vh;
}
